
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Album example</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
      <%= simple_form_for :query, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
        <%= f.input :lenguage, input_html: {value: ""} %>
        <%= f.submit "Search", class: "btn btn-primary" %>
      <% end %>
  </div>
</section>

<% if @results.nil? %>
  <div class="album py-5 bg-light">
    <div class="container">
      <h2>You need to search some repo :)</h2>
    </div>
  </div>
  <% else %>

<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
      <% @results["items"].each do |result| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="<%= result["owner"]["avatar_url"] %>" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22208%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20208%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_173f43e9578%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A11pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_173f43e9578%22%3E%3Crect%20width%3D%22208%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2266.9296875%22%20y%3D%22117.45%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text"><%= result["full_name"] %></p>
                  <p> <%= result["description"] %> </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><%= result["stargazers_count"] %></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><%= result["forks"] %></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><%= result["watches_count"] %></button>
                    </div>
                    <small class="text-muted">GitHub</small>
                  </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
