<section class="jumbotron text-center">
  <div class="container">

    <h1 class="jumbotron-heading">Github Repo Search</h1>
    <p class="lead text-muted">
      Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.
    </p>
    <%= link_to "Pesquisar", root_path, class: "btn btn-md btn-outline-secondary favorite-btn" %>
    </div>
  </section>
​
<% if @results.present? %>
​
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% @results.each do |result| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <p class="card-text"><strong><%= result["full_name"] %></strong></p>
                <p> <%= result["description"] %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                      <%= result["stargazers_count"] %>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                      <%= result["forks"] %>
                    </button>
                      <%= link_to "Remover", repositories_path({:repo => result}), method: :post, class: "btn btn-md btn-outline-secondary favorite-btn" %>
                  </div>
                  <small class="text-muted">
                    <a href="<%= result["html_url"] %>" target="_blank">View in Github</a>
                  </small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
​
<% end %>
