<h1>Show do Repo</h1>
<div class="container">
  <div class="row">
    <strong><%= @result.full_name %></strong>
    <strong><%= @result["lenguage"] %></strong>
    <%= @result["description"] %>
    <%= @result["stargazers_count"] %>
    <%= @result["watchers_count"] %>
    <%= @result["html_url"] %>
  </div>
</div>
