<tr>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900"><%= repo.full_name %></div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900"><%= repo.description %></div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900"><%= repo.language %></div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900"><%= repo.stargazers_count %></div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900"><%= repo.watchers_count %></div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900"><%= repo.forks_count %></div>
  </td>
</tr>