<div class="container">

  <div class="mt-3 d-block text-center">
    <h1 class="display-4"><strong>Repositórios mais populares do Github</strong></h1>
    <p class="fs-5">Clique no botão abaixo e descubra quais são os repositórios<br>
      mais populares do momento no Github.</p>
  </div>

  <div class="d-flex justify-content-center mt-4 mb-3">
    <%= link_to 'Explorar repositórios', new_repo_path, class: 'mt-15 btn btn-outline-dark btn-lg',
      data: { disable_with: 'Buscando...' } %>
  </div>

  <div class="d-flex justify-content-center">
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type == 'alert' ? 'danger' : 'success' %> alert-dismissible fade show" style="width: 50rem;" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-md-center">
    <% @repos.each do |repo| %>
      <div class="col-md-auto">
        <div class="mt-2 card" style="width: 12rem;">
          <img src="<%= repo.avatar_url %>" class="card-img-top img-thumbnail border-0 p-2" alt="<%= repo.full_name %>">
          <div class="card-body">
            <h5 class="card-title"><%= repo.full_name %></h5>
            <p><strong><em> <%= repo.language %> </em></strong></p>
            <p class="card-text"><%= truncate(repo.description, length: 40) %></p>
            <%= link_to 'Ver detalhes', repo, class:'btn btn-outline-dark' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>