<div class="container mt-5">
  <div class="card">

    <div class="card-header d-flex">
      <h1 class="display-6 me-auto">Repositório: <strong><%= @repo.full_name %></strong></h1>
      <h2 class="display-6 ms-auto">&star; <%= @repo.stargazers_count %> &star;</h2>
    </div>

    <div class="card-body">
      <div class="card border-0">
        <div class="row g-0">

          <div class="col-md-4 d-flex align-items-center justify-content-center">
            <img src="<%= @repo.avatar_url %>" class="img-fluid img-thumbnail float-start border-0 p-4" alt="<%= @repo.full_name %>">
          </div>

          <div class="col-md-8 d-flex align-items-center">
            <div class="card-body">
              <h5 class="card-title mb-3">Linguagem: <%= @repo.language %></h5>
              <p class="card-text">Endereço do repositório: <em><%= @repo.html_url %></em></p>
              <p class="card-text">Site:
                <em><% if @repo.homepage.present? %>
                  <a href="<%= @repo.homepage %>" class="text-decoration-none"><%= @repo.homepage %></a>
                  <% else %>
                  Não listado
                  <% end %>
                </em>
              </p>
              <p class="card-text">Descrição: <%= @repo.description %></p>
              <p class="card-text">Data de criação: <%= l @repo.creation_date, format: :short %></p>
              <p class="card-text">
                <small class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= l @repo.update_date, format: :long %>">
                  Última atualização <%= time_ago_in_words @repo.update_date %> atrás
                </small>
              </p>
              <a href="<%= @repo.html_url %>" class="btn btn-dark">Visitar repositório</a>
              <%= link_to 'Voltar', root_path, class:'btn btn-secondary' %>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>