<%= form_with(model: repository) do |form| %>
  <% if repository.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(repository.errors.count, "error") %> prohibited this repository from being saved:</h2>

      <ul>
        <% repository.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :node_id, style: "display: block" %>
    <%= form.text_field :node_id %>
  </div>

  <div>
    <%= form.label :github_id, style: "display: block" %>
    <%= form.number_field :github_id %>
  </div>

  <div>
    <%= form.label :full_name, style: "display: block" %>
    <%= form.text_field :full_name %>
  </div>

  <div>
    <%= form.label :stars, style: "display: block" %>
    <%= form.number_field :stars %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.label :forks, style: "display: block" %>
    <%= form.number_field :forks %>
  </div>

  <div>
    <%= form.label :open_issues, style: "display: block" %>
    <%= form.number_field :open_issues %>
  </div>

  <div>
    <%= form.label :license, style: "display: block" %>
    <%= form.text_field :license %>
  </div>

  <div>
    <%= form.label :origin_created_at, style: "display: block" %>
    <%= form.datetime_field :origin_created_at %>
  </div>

  <div>
    <%= form.label :origin_updated, style: "display: block" %>
    <%= form.text_field :origin_updated %>
  </div>

  <div>
    <%= form.label :topics, style: "display: block" %>
    <%= form.text_area :topics %>
  </div>

  <div>
    <%= form.label :language_id, style: "display: block" %>
    <%= form.text_field :language_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
