<div id="<%= dom_id repository %>">
  <p>
    <strong>Name:</strong>
    <%= repository.name %>
  </p>

  <p>
    <strong>Node:</strong>
    <%= repository.node_id %>
  </p>

  <p>
    <strong>Github:</strong>
    <%= repository.github_id %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= repository.full_name %>
  </p>

  <p>
    <strong>Stars:</strong>
    <%= repository.stars %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= repository.url %>
  </p>

  <p>
    <strong>Forks:</strong>
    <%= repository.forks %>
  </p>

  <p>
    <strong>Open issues:</strong>
    <%= repository.open_issues %>
  </p>

  <p>
    <strong>License:</strong>
    <%= repository.license %>
  </p>

  <p>
    <strong>Origin created at:</strong>
    <%= repository.origin_created_at %>
  </p>

  <p>
    <strong>Origin updated:</strong>
    <%= repository.origin_updated_at %>
  </p>

  <p>
    <strong>Topics:</strong>
    <%= repository.topics %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= repository.language.name %>
  </p>

</div>
