<article class="repo-item border rounded-sm border-gray-500 relative p-4">
  <%= link_to(repository_path(repository)) do %>
    <h1 class="repo-name">
      <p><%= repository.name %></p>

      <p>
        <span class="lang-tag">
          <span class="ball-lang fix-top mr-1 <%= repository.language %>"></span>
          <%= repository.language %>
        </span>

        <span class="counter ml-2">
          <%= icon('star', size: 16, wrapper_class: 'fix-top') %>
          <%= number_to_human(repository.stargazers_count, precision: 2, delimiter: '.',
            units: { thousand: 'k' }, round_mode: :ceil) %>
        </span>

        <span class="counter ml-2">
          <%= icon('git-branch', size: 16, wrapper_class: 'fix-top') %>
          <%= number_to_human(repository.forks_count, precision: 2, delimiter: '.',
            units: { thousand: 'k' }, round_mode: :ceil) %>
        </span>
      </p>
    </h1>
  <% end %>
</article>
