<div class="container">
  <main role="main">
    <div class="list-group p-2 m-2">
      <% @repos.each do |repo| %>
        <%= link_to repository_path(repo), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
          <div class="media">
            <img src="<%= repo.owner_avatar_url %>%" width="64" class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mr-auto"><%= repo.name %></h5>
              <p class="mb-1"><%= repo.description %></p>
            <small class="text-muted"><%= repo.html_url %></small>
            </div>
              <span class="badge badge-pill badge-info m-1"><%= repo.language %></span>
              <span class="badge badge-pill badge-info m-1"><%= repo.stargazers_count %> stars</span>
          </div>
        <% end %>
      <% end %>
    </div>
  </main>
</div>