<main>
  <% @repositories.each do |repository| %>
  <div class="repo-box">
    <%= image_tag repository.owner_avatar, {alt: repository.name, class: 'img-owner'} %>
    <div class="repo-info">
      <p class="owner-name"><%= repository.name %></p>
      <p class="description">
        <%= Base64.decode64(repository.description) if repository.description %>
      </p>
      <span><%= link_to 'See more...', repository %></span>
    </div>
  </div>
  <% end %>
</main>
<footer><%== pagy_nav(@pagy) %></footer>