<div class="container page-repositories-list">
  <div class="repositories-form">
    <%= form_with url: repositories_path, method: :get, local: true, class: "d-flex" do |form| %>
      <div class="flex-grow-1">
        <%= form.select :language, Language.pluck(:name, :id), { include_blank: "Select a language", selected: params[:language] }, { class: "form-control" } %>
      </div>

      <div class="col-auto">
      <%= form.submit "Search", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>

  <div class="repositories-header">
    <span>Found <%= number_to_human(@total_count, precision: 4) %> <%= "repository".pluralize(@total_count) %></span>
  </div>

  <div class="repositories-wrapper">
    <% if @repositories.present? %>
      <% @repositories.each do |repository| %>
          <div class="card">
            <div class="card-body d-flex align-items-center">
              <div class="flex-grow-1">
                <%= link_to(repository["html_url"], { target: "_blank" }) do %>
                  <h5 class="card-title"><%= repository["full_name"] %></h5>
                <% end %>

                <p class="card-text"><%= repository["description"] %></p>
              </div>

              <div class="favorite-btn">
                <% if current_user.present? %>
                  <%= form_with model: StarredRepository.new, local: false, method: :post, class: "d-flex" do |form| %>
                    <%= form.fields_for :repository_attributes do |repository_form| %>
                      <% repository.each do |k, v| %>
                        <%= repository_form.hidden_field k, value: v %>
                      <% end %>
                    <% end %>

                    <% if @user_starred_repositories.include?(repository["id"].to_s) %>
                      <%= button_to "Added", {}, class: "btn btn-success", disabled: true %>
                    <% else %>
                      <%= form.submit "Add to favorites", data: { disable_with: "Adding" }, class: "btn btn-primary", id: repository["id"] %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    <% else %>
      <div class="text-center">No repository found!</div>
      <div class="text-center">:(</div>
    <% end %>
  </div>
</div>

