<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @repository.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @repository.owner %>
</p>

<p>
  <strong>Html url:</strong>
  <%= @repository.html_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @repository.description %>
</p>

<p>
  <strong>Create date:</strong>
  <%= @repository.create_date %>
</p>

<p>
  <strong>Update date:</strong>
  <%= @repository.update_date %>
</p>

<p>
  <strong>Stargazers count:</strong>
  <%= @repository.stargazers_count %>
</p>

<p>
  <strong>Forks count:</strong>
  <%= @repository.forks_count %>
</p>

<p>
  <strong>Open issues count:</strong>
  <%= @repository.open_issues_count %>
</p>

<%= link_to 'Edit', edit_repository_path(@repository) %> |
<%= link_to 'Back', repositories_path %>
