  <main role="main">
    <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="card bg-light my-4">
          <div class="card-body">
            <div class="media">
              <%= link_to @repo.owner_html_url do %>
                <img src="<%= @repo.owner_avatar_url %>%" width="128" class="mr-3 rounded" alt="...">
              <% end %>
              <div class="media-body">
                <h2 class="h4 my-0"><%= link_to @repo.name, @repo.html_url %></h1>
                <small class="text-muted"><%= @repo.html_url %></small>
                <p><%= @repo.description %></p>
                <h6><%= link_to @repo.homepage, @repo.homepage %></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="m-4 p-4">
          <%= @repo.readme_content.html_safe %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="text-center">
          <h3 class="h1 m-4">
            <span class="badge badge-pill badge-light m-0"><%= @repo.language %></span>
          </h3>
          <div class="card bg-light mx-5 my-3">
            <div class="card-body">
              <h2 class="m-0 card-title"><%= @repo.stargazers_count %></h2>
              <p class="h6 card-text">Stars</p>
            </div>
          </div>
          <div class="card bg-light mx-5 my-3">
            <div class="card-body">
              <h2 class="m-0 card-title"><%= @repo.forks_count %></h2>
              <p class="h6 card-text">Forks </p>
            </div>
          </div>
          <div class="card bg-light mx-5 my-3">
            <div class="card-body">
              <h2 class="m-0 card-title"><%= @repo.open_issues_count %></h2>
              <p class="h6 card-text">Open Issues </p>
            </div>
          </div>
        </div>
              
      </div>
    </div>
  </main>
