<main>
  <div class="repo-box">
    <%= image_tag @repository.owner_avatar, {alt: @repository.name, class: 'img-owner'} %>
    <div class="repo-info">
      <p>
        <strong>Name:</strong>
        <%= @repository.name.capitalize %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= Base64.decode64(@repository.description) if @repository.description %>
      </p>

      <p>
        <strong>Repository:</strong>
        <%= @repository.html_url %>
      </p>

      <p>
        <strong>Home page:</strong>
        <%= @repository.home_page %>
      </p>

      <p>
        <strong>Stars:</strong>
        <%= @repository.stargazers_count %>
      </p>

      <p>
        <strong>Language:</strong>
        <%= @repository.language.name.capitalize %>
      </p>
    </div>
  </div>
</main>