<div class="jumbotron vertical-center">
  <div class="alert alert-success align-middle" role="alert">
    <h1 class="alert-heading align-middle"  style="text-align:center;"><%= @repository[0].language %></h4>
  </div>
</div>

<div class="container">
<a href="/" class="btn btn-primary mb-3" style="color:white">Voltar</a>
  <div class="row row-cols-1 row-cols-md-5">
    <% for reps in @repository %>   
      <div class="col  h-10">
        <div class="card border-info mb-5" style="max-width: 18rem;">
        
          <div class="card-header" style="text-align:center">          
            <a href="https://github.com/<%= reps.full_name %>" class="text-dark" style="text-decoration:none;" target="_blank">
              <strong><%= reps.full_name %></strong>
            </a>
          </div>
          
          <div class="card-body">
            <a href="https://github.com/<%= reps.login%>" class="text-dark" style="text-decoration:none;" target="_blank">
              <h5 class="card-title">
                <%= reps.login %>          
              </h5>
            </a>
            <p class="card-text">
              <%= reps.description %>
            </p>
          </div>

          <div class="card-footer text-muted">
            <div class="row align-items-start">
              <div class="col">
                <a href="https://github.com/<%= reps.full_name%>/stargazers" class="text-dark" style="text-decoration:none;" target="_blank">                
                  <svg aria-label="star" role="img" viewBox="0 0 16 16" version="1.1" data-view-component="true" height="16" width="16" class="octicon octicon-star">
                    <path fill-rule="evenodd" d="M8 .25a.75.75 0 01.673.418l1.882 3.815 4.21.612a.75.75 0 01.416 1.279l-3.046 2.97.719 4.192a.75.75 0 01-1.088.791L8 12.347l-3.766 1.98a.75.75 0 01-1.088-.79l.72-4.194L.818 6.374a.75.75 0 01.416-1.28l4.21-.611L7.327.668A.75.75 0 018 .25zm0 2.445L6.615 5.5a.75.75 0 01-.564.41l-3.097.45 2.24 2.184a.75.75 0 01.216.664l-.528 3.084 2.769-1.456a.75.75 0 01.698 0l2.77 1.456-.53-3.084a.75.75 0 01.216-.664l2.24-2.183-3.096-.45a.75.75 0 01-.564-.41L8 2.694v.001z"></path>
                  </svg>
                  <%= number_to_human(reps.stargazers_count, :format => '%n%u', :units => { :thousand => 'K' }) %>                
                </a>
              </div>

              <div class="col">
                <div class="d-flex flex-column">
                  <div class="align-self-end"><%= reps.language %></div>
                </div>
              </div>
            </div>                    
          </div>
        </div>
      </div>
    <% end %>  
  </div>
</div>