%p#notice= notice
%p
  %strong Slug:
  = @organization.slug
%p
  %strong Name:
  = @organization.name
%p
  %strong Description:
  = @organization.description
%p
  %strong Image:
  %br/
  = image_tag @organization.avatar_url, width: 100, height: 100
= link_to 'Edit', edit_organization_path(@organization)
|
= link_to 'Back', organizations_path
