<h2>Repositório mais relevante encontrado na busca pela linguagem:</h2>
<div class="card-container">
  <% @languages.each do |language| %>
    <div class="card-main">
      <div class="card-header">
        <h4><%= language.name %></h4>
      </div>
      <div class="card-body">
        <% if language.hash_response.empty? %>
          <p>Nenhum repositório relevante foi encontrado para essa pesquisa ):</p>
        <% else %>
          <img class="avatar" src="<%= language.hash_response[:owner][:avatar_url] %>" alt="">
          <p>Nome do repositório<br />
          <strong><%= language.hash_response[:full_name] %></strong></p>
          <p>
            Descrição<br />
            <% description = language.hash_response[:description] %>
            <strong><%= description.length > 150 ? "#{description[0...150]}..." : description %></strong>
          </p>
        <% end %>
      </div>
      <% if language.hash_response.empty? %>
        <div class="class-footer"></div>
      <% else %>
        <%= link_to language_path(language) do %>
          <div class="card-footer">
            <p>VER DETALHES</p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>