%p#notice= notice
%p
  %strong Name:
  = @repository.name
%p
  %strong Organization:
  = @repository.organization_id
= link_to 'Edit', edit_repository_path(@repository)
|
= link_to 'Back', repositories_path
