<h1>Repositórios Ruby</h1>
<h2>Quantidade Total de Repositórios em Ruby</h2>
<h2> <%=@ruby['total_count'] %></h2>
<a href="/"> Home </a>
<hr>
<table>
    <thead>
    <td>Nome do Repositório</td>
    <td>Nome completo</td>
    <td>Proprietário</td>
    <td>Link Repositório</td>
    <td>SSH URL</td>
    <td>Data de Criação</td>
    <td>Descrição</td>
    </thead>

    <tbody>
        <% @ruby['items'].each do |linha|%>
            <tr>
            <td><%= linha['name'] %></td>
            <td><%= linha['full_name'] %></td>
            <td><%= linha['owner']['login'] %></td>
            <td><%= linha['owner']['html_url'] %></td>
            <td><%= linha['ssh_url'] %></td>
            <td><%= linha['created_at'] %></td>
            <td><%= linha['description'] %></td>
            <tr>
        <% end %>
    </tbody>
</table>