<div class="text-center" style="padding:50px 0">
	<div class="logo">login</div>
	<!-- Main Form -->
	<div class="login-form-1">
        <%= form_for(resource, :html => {:class => "text-left"}, as: resource_name, url: session_path(resource_name)) do |f| %>
            <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, :id => "flash_#{name}", class: 'alert alert-danger', role: 'alert' %>
            <% end %>
            <div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="lg_username" class="sr-only">Login</label>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "Login" %>
					</div>
					<div class="form-group">
						<label for="lg_password" class="sr-only">Senha</label>
                        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: "Senha" %>
					</div>
					<div class="form-group login-group-checkbox">
                        <%= f.check_box :remember_me %>
						<label for="user_remember_me">Lembrar senha</label>
					</div>
				</div>
                <%= button_tag type: 'submit', class: "login-button", id: "new-button" do %>
                    <i class="fa fa-chevron-right"></i>
                <% end %>
			</div>
			<div class="etc-login-form">
                <p>novo usuário? <%= link_to "crie sua conta", new_user_registration_path %>
			</div>
        <% end %>
	</div>
</div>
