!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Arohdeateliware
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = analytics_init if Rails.env.production? && GoogleAnalytics.valid_tracker?
  %body
    %div.container{style: 'margin-top: 50px;'}
      = yield
