<!DOCTYPE html>

<html lang="<%= I18n.locale %>" class="default-style layout-offcanvas">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1"/>
  <meta name="description" content=""/>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

  <title><%= @page_title ? @page_title : "Teste Ateliware" %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>

  <%= yield :head %>
</head>
<body>
<div class="layout-wrapper layout-2">
  <div class="layout-inner">

    <div class="layout-container">

      <%= render "layouts/admin/header" %>

      <div class="layout-content">
        <div class="container-fluid flex-grow-1 container-p-y">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <div class="layout-overlay layout-sidenav-toggle"></div>
</div>
<%= yield :body %>

<%= render('layouts/flash_messages') %>
</body>
</html>
